<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EndlessLoop" value="true" /> <!-- bu değişken Eğer rover pozisyon olarak yukarıdan çıktığında aşağıdan aşağıdan çıktığında yukarıdan giriyor olsaydı ve sağdan çıktığında soldan soldan çıktığında da sağdan giriyor olsaydı hesaplaması için eklendi, case böyle mi istendi tam anlaşılmadığı için değişkene bağlandı-->
  </appSettings>
</configuration>